.reservation-form {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.form-bit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reservation-form h2 {
  color: red;
  padding-left: 200px;
}
