.reservation-list {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.reservation-item {
  display: flex;
  gap: 20%;
  border: 1px solid brown;
  align-items: center;
}

.cancel {
  width: fit-content;
}

.cancel:hover {
  background-color: red;
}

.actions {
  margin-left: 10%;
}
