.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../assets/dr1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 2em;
}

.home-container p {
  font-size: 1.2em;
  margin-top: 10px;
}
