
.nav-container {
  height: 100vh;
  background-color: #fff;
  color: white;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  border-right: #ccc 1px solid;
  padding: 2em;
  z-index: 1000;
}

.left {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #86b523;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.left:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.nav-container li {
  margin-bottom: 1em;
}

.navbar ul li {
  padding: 5px 0;
}

button {
  padding: 8px 12px;
  color: #fff;
  width: 120px;
  text-align: center;
}

button:active {
  transform: translateY(1px);
}

.icon {
  color: black;
}

.btn-success {
  background-color: transparent;
  color: #000;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  max-width: 100%;
}

.btn-success:hover {
  background-color: #86b523;
  color: #fff;
}

.logo {
  margin-bottom: 1em;

  /* Space below the logo */
}

.logo-text {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 900;
  color: #87b523;
  text-shadow: 1px 1px 1px rgb(0, 255, 0);
}

.logo-text > span {
  text-shadow: none;
}

.nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-container li a {
  text-decoration: none;
}

.nav-container button {
  width: 100%;
  background-color: transparent;

  /* No background color */
  color: #000;

  /* Text color */
  padding: 0.5em 1em;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1em;

  /* Adjust font size as needed */
  transition: all 0.3s ease;
}

.nav-container button:hover {
  background-color: #97bf11;
  transition: 0.3s;
}

/* Since you're using a button inside a Link, you might need to override link styles */
.nav-container button:link,
.nav-container button:visited {
  color: #000;

  /* Text color */
}

@media only screen and (max-width: 375px) {
  .nav-container {
    height: 65px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav-container > .logo {
    padding: 1rem 0 0 1rem;
  }

  .left {
    width: 100%;
    margin-right: 13rem;
    border: none;
    background-color: white;
    box-shadow: none;
    flex: 1;
  }

  .nav-container > .burger {
    background-color: transparent;
    border: none;
    padding: 0;
    flex: 1;
  }

  .nav-container > button > img {
    margin: 0;
    margin-top: -1rem;
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    margin-left: 45%;
  }

  .main-div {
    margin: 0;
  }

  .pop-up {
    margin-top: 1rem;
    background-color: #87b5235a;
    color: white;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
  }

  .pop-up > ul > li > button,
  .pop-up > ul > li > a > button,
  .pop-up > ul > li > a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(1, 1, 1);
    padding: 0.5rem;
    font-weight: 900;
  }

  .pop-up > ul {
    display: flex;
    flex-direction: column;
  }

  .pop-up > ul > li {
    margin: 1rem;
    list-style: none;
    font-size: 2rem;
  }
}
