.nav-container {
  padding: 2em; /* Padding around the navbar content */
}

.logo {
  margin-bottom: 1em; /* Space below the logo */
}

.logo-text {
  font-family: 'Helvetica', 'Arial', sans-serif; /* Example font */
  font-size: 21px; /* Larger font size for logo */
  color: #000; /* Logo text color */
}

.nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-container li {
  margin-bottom: 1em; /* Add more space between menu items */
}

.nav-container li a {
  text-decoration: none;
}

.nav-container button {
  width: 100%;
  background-color: transparent; /* No background color */
  color: #000; /* Text color */
  padding: 0.5em 1em;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1em; /* Adjust font size as needed */
  transition: all 0.3s ease;
}

.nav-container button:hover {
  background-color: #97bf11;
  transition: 0.3s;
}

/* Since you're using a button inside a Link, you might need to override link styles */
.nav-container button:link,
.nav-container button:visited {
  color: #000; /* Text color */
}

/* Footer styles */
footer {
  padding: 1em; /* Add padding to the footer */
  text-align: center; /* Center footer content */
}

/* Additional styles if you have icons or other elements in the navbar */
.icon {
  /* Style for any icons you include in the navbar */
}
