.nav-container {
  padding: 2em; /* Padding around the navbar content */
}

.logo {
  margin-bottom: 1em; /* Space below the logo */
}

.logo-text {
  font-family: 'Helvetica', 'Arial', sans-serif; /* Example font */
  font-size: 21px; /* Larger font size for logo */
  color: #000; /* Logo text color */
}

.nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-container li {
  margin-bottom: 1em; /* Add more space between menu items */
}

.nav-container li a {
  text-decoration: none;
}

.nav-container button {
  width: 100%;
  background-color: transparent; /* No background color */
  color: #000; /* Text color */
  padding: 0.5em 1em;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1em; /* Adjust font size as needed */
  transition: all 0.3s ease;
}

.nav-container button:hover {
  background-color: #97bf11;
  transition: 0.3s;
}

/* Since you're using a button inside a Link, you might need to override link styles */
.nav-container button:link,
.nav-container button:visited {
  color: #000; /* Text color */
}

/* Footer styles */
footer {
  padding: 1em; /* Add padding to the footer */
  text-align: center; /* Center footer content */
}

/* Additional styles if you have icons or other elements in the navbar */
.icon {
  /* Style for any icons you include in the navbar */
}

@media only screen and (max-width: 375px) {
  .main-layout {
    flex-direction: column;
  }

  .main-layout > .vertical-line {
    width: 50%;
    border: none;
  }

  .main-layout > .vertical-line > .vertical-line {
    width: 100vw;
  }

  .nav-container {
    height: 65px;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-container button {
    height: 65px;
    width: 10%;
    margin-right: 2rem;
  }

  .logo-text {
    padding-left: 1rem;
  }

  .pop-up > ul > li > a > button {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
    font-weight: 900;
  }

  .nav-container button:hover {
    background-color: transparent;
  }

  .burger > img {
    margin: 0;
    margin-top: -1rem;
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
  }

  .main-div {
    margin: 0;
  }

  .pop-up {
    margin-top: 1rem;
    background-color: #87b5235a;
    color: white;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
  }

  .pop-up > ul {
    display: flex;
    flex-direction: column;
  }

  .pop-up > ul > li {
    margin: 1rem;
    list-style: none;
    font-size: 1.8rem;
  }
}
