.main-layout {
  display: flex;
  min-height: 100vh;
}

/* Vertical Navbar */
.vertical-line {
  border-right: 1px solid #cac6c6;
  position: absolute;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
}

/* Component Container (Generic) */
.component-container {
  width: 100%; /* Take up full width of .main-content */
  max-width: 800px; /* Maximum width of any component */
  margin: 0 auto; /* Adjusted margin to avoid going under the vertical-line */
  margin-bottom: 20px; /* Space between components */

  /* Additional styling as needed */
}
